{% extends 'base.html' %} {% block content %}

<a href="/">Home</a>

<h1>{{event.id}}</h1>

<p>{{event.description}}</p>

<p><strong>Date:</strong> {{event.date}}</p>
<p><strong>Time:</strong> {{event.time}}</p>

<p><strong>{{event.guests}}</strong> 5</p>

<form method="POST">
  <fieldset>
    <legend>RSVP</legend>
    <p>
      <label>
        Your Name:
        <input type="text" name="guest_name" />
      </label>
    </p>
    <p>
      <label>
        <input
          type="checkbox"
          name="returning"
          onchange="returningGuestChanged(this.checked)"
        />
        Returning Guest?
      </label>
    </p>
    <div id="new-guest-info">
      <p>
        <label>
          Your Email Address:
          <input type="email" name="email" />
        </label>
      </p>
      <p>
        <label>
          Your Phone Number:
          <input type="phone" name="phone" />
        </label>
      </p>
    </div>
    <p>
      <input type="submit" name="submit" value="Add" />
    </p>
  </fieldset>
</form>

<h2>Guests Attending:</h2>
<ul>
  {% for i in event_info.guests %}
  <li><a href="/guest/{{ i.id }}">{{ i.name }}</a></li>
  {% endfor %}
</ul>

{% endblock %}
